<%= display_current_user %>
<%= display_logout %>
<h1>Welcome to super Auction site</h1>
<%= current_user %>
<a href="/logins/new">Make sur to log in before bidding</a>
<a href="/users">Check out users and their products</a>